---
import BaseHead from "~/components/BaseHead.astro";
import Header from "~/components/Header.astro";
import { SITE_DESCRIPTION } from "~/consts";
import Footer from "~/components/Footer.astro";
import { Image } from "astro:assets";
import coolerLogo from "~/assets/cooler_logo.svg";
import button from "~/public/button.png";

const code = "<a href=\"https://errorcodezero.dev/\"><img src=\"https://errorcodezero.dev/button.png\"></img></a>";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Home" description={SITE_DESCRIPTION} />
  </head>
  <body class="default">
    <Header />
    <main>
      <h1 class="text-center">ErrorCode0</h1>
      <p>
        I'm a programmer from the US. Here are some interesting facts about me:
      </p>
      <ul>
        <li>I like math and interesting logic problems.</li>
        <li>
          I like a lot of different games such as the portal series, the half
          life series, minecraft.
        </li>
        <li>I don't like repetition.</li>
        <li>I'm looking for the next startup idea.</li>
        <li>I don't like repetition.</li>
      </ul>
      <p>Add my button to your website by copying the following code block:</p>
      <code>
        {code}
      </code>
      <iframe
        src="https://webring.hackclub.com/embed.html"
        width="90px"
        height="80px"
        style="border: 0em;"></iframe>
      <Image
        src={coolerLogo}
        alt="The word error"
        loading="eager"
        width="500"
      />
      <button><img src={button} alt="ErrorCode0 Button"/></button>
    </main>
    <Footer />
  </body>
</html>
