---
import BaseHead from "~/components/BaseHead.astro";
import Header from "~/components/Header.astro";
import { SITE_DESCRIPTION } from "~/consts";
import Footer from "~/components/Footer.astro";
import CardList from "~/components/CardList.astro";
import { Image } from "astro:assets";
import coolerLogo from "~/assets/cooler_logo.svg";
import { Icon } from "astro-icon/components";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Home" description={SITE_DESCRIPTION} />
  </head>
  <body class="default">
    <Header />
    <main>
      <h1 class="text-center">Projects</h1>
      <CardList />
    </main>
    <Footer />
  </body>
</html>
