---
import { buttons } from "./buttons";
---

<div style="display: flex;">
	{
		buttons.map((button) => (
			<a href={button.link}>
				<img src={button.src} alt={button.alt} width={88} height={31} />
			</a>
		))
	}
</div>
