---
import { Icon } from 'astro-icon/components'
---

<footer class="pt-5">
	<div class="text-center flex justify-center space-x-2">
       <a rel="me" href="https://github.com/errorcodezero" aria-label="Github"><Icon class="icon" name="mdi:github"/></a>
       <a rel="me" href="/rss.xml" aria-label="RSS Feed"><Icon class="icon" name="mdi:rss"/></a>
       <a rel="me" href="mailto:me@errorcodezero.dev" aria-label="Email Me"><Icon class="icon" name="mdi:email"/></a>
       <a rel="me" href="https://twitter.com/errorcodezero_" aria-label="Twitter"><Icon class="icon" name="mdi:twitter"/></a>
       <a rel="me" href="https://steamcommunity.com/id/yeetsquad747" aria-label="Steam Community Profile"><Icon class="icon" name="mdi:steam"/></a>
       <a rel="me" href="https://mas.to/@errorcodezero" aria-label="Mastodon"><Icon class="icon" name="mdi:mastodon"/></a>
	</div>
</footer>

<style>
    .icon {
        @apply w-10 h-10;
    }
</style>
