---
import { Icon } from "astro-icon/components";
import GradientBar from "../components/GradientBar.astro";
---

<footer class="footer-container">
  <div class="gradient-bar-container">
    <GradientBar />
  </div>
  <div class="social-links">
    <a rel="me" href="https://github.com/errorcodezero" aria-label="Github">
      <Icon class="icon" name="mdi:github" />
    </a>
    <a rel="me" href="/rss.xml" aria-label="RSS Feed">
      <Icon class="icon" name="mdi:rss" />
    </a>
    <a rel="me" href="mailto:me@errorcodezero.dev" aria-label="Email Me">
      <Icon class="icon" name="mdi:email" />
    </a>
    <a rel="me" href="https://twitter.com/errorcodezero_" aria-label="Twitter">
      <Icon class="icon" name="mdi:twitter" />
    </a>
    <a
      rel="me"
      href="https://steamcommunity.com/id/yeetsquad747"
      aria-label="Steam Community Profile"
    >
      <Icon class="icon" name="mdi:steam" />
    </a>
    <a rel="me" href="https://mas.to/@errorcodezero" aria-label="Mastodon">
      <Icon class="icon" name="mdi:mastodon" />
    </a>
  </div>
</footer>

<style>
  .gradient-bar-container {
    display: flex;
    justify-content: center;
  }

  .social-links {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    text-align: center;
  }

  .icon {
    width: 2.5em;
    height: 2.5em;
    display: block;
  }

  .social-links a:hover {
    opacity: 0.7;
    transition: opacity 0.2s ease;
  }
</style>
