<div class="gradient-bar"></div>

<style>
	.gradient-bar {
		display: flex;
		background: linear-gradient(
			to right,
			#0038a8 0%,
			#9b4f96 50%,
			#d60270 100%
		);
		height: 0.3em;
		width: 20em;
		margin-bottom: 0.5em;
	}
	.gradient-bar:hover {
		background: linear-gradient(
			to right,
			#0038a8 0%,
			#0038a8 33.33%,
			#9b4f96 33.33%,
			#9b4f96 66.66%,
			#d60270 66.66%,
			#d60270 100%
		);
	}
</style>
